/* a=0 b=0 c=1 -> specificity =   1*/ h1{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    color:white;
    background-color: darkslateblue;
    border-radius: 0.4em;
}
/* a=0 b=0 c=1 -> specificity =   1*/ h2,h3,h4{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 2.4em;
    color:darkslateblue;
    background-color: white;

}
/* a=0 b=0 c=1 -> specificity =   1*/img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

/* a=0 b=0 c=1 -> specificity =   1*/ p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    color:black;
    background-color: white;
}

/* a=0 b=0 c=1 -> specificity =   1*/ nav {
    background-color: darkslateblue;
    color:white;
    overflow: hidden;
    border-radius: 0.4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
 /* a=0 b=0 c=2 -> specificity =   2*/  nav a {
    float: left;
    color: #f2f2f2;
    background-color: darkslateblue;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
    font-size: 1em;
  }
  
  /* a=0 b=1 c=2 -> specificity =   12*/ nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* a=0 b=1 c=2 -> specificity =   12*/ nav a.active {
    background-color:azure;
    color: black;
  }


/* a=0 b=0 c=1 -> specificity =   1*/ dl {
    border: 0.2em double #ccc;
    padding: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    max-width: 100%;
    color:black;
    background-color: white;
  }

/* a=0 b=0 c=1 -> specificity =   1*/ dt {
    font-weight: bold;
    color:darkslateblue;
    background-color: white;
    font-size: 1.4em;
  }

  /* a=0 b=0 c=1 -> specificity =   1*/ dd {
    background-color: white;
    color:black;
    font-size: 1.4em;
  }

/* a=0 b=0 c=2 -> specificity =   2*/ dt::after {
    content: ":";
  }
/* a=0 b=0 c=1 -> specificity =   1*/ table{
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
     max-width: 100%;
     font-size: 1.2em;
}

 /* a=0 b=0 c=1 -> specificity =   1*/ th {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: left;
    background-color: rgb(9, 143, 143);
    color: white;
  }

 /* a=0 b=0 c=1 -> specificity =   1*/ td, th {
    border: 0.1em solid #ddd;
  }

   /* a=0 b=0 c=1 -> specificity =   1*/ td {
    padding:0.5em;
  }

  /* a=0 b=1 c=2 -> specificity =   12*/
  tr:nth-child(even){
      background-color: #f2f2f2;
      color: black;
    }

    /* a=0 b=0 c=1 -> specificity =   1*/video{
      display: block;
      margin-left: auto;
      margin-right: auto;
      block-size:60%;
      max-width: 100%;
      height: auto;
    }



     /* a=0 b=1 c=1 -> specificity =   11*/input[type=submit] {
      background-color: darkslateblue;
      color: white;
      padding: 0.8em 1.2em;
      border: none;
      border-radius: 0.25em;
      cursor: pointer;
      float: left;
    }

    /* a=0 b=1 c=1 -> specificity =   11*/label{
      font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color:black;
    background-color: white;
    }

     /* a=0 b=0 c=1 -> specificity =   1*/
    textarea{
      width:25em;
      height:9.3em;
    }

    /* a=0 b=0 c=1 -> specificity =   1*/body{
      display:grid;
      grid-template-columns: [x0] 1fr;
      grid-template-rows: [y0] 0.4fr [y1] 10fr [y2] 3fr [y3] 0.4fr;
    }

    

    /* a=0 b=0 c=1 -> specificity =   1*/header{
      grid-column: x0;
    }

    /* a=0 b=0 c=1 -> specificity =   1*/main{
      grid-row:y1/y3;
    }

    /* a=0 b=0 c=1 -> specificity =   1*/footer{
      background-color: darkslateblue;
      color:white;
      padding:1em;
      border-radius:0.25em;
      text-align: center;
      grid-row:y3;
      font-size:1.4em;
    }






